.headerbuttons a {
  display: inline-block;
  font-size: 13px;
  font-family: Arial, sans-serif;
  color: #000;
  opacity: 0.75;
  float: left;
  margin: 8px;
  top: 0;
  text-align: left;
}

#Nav {
  font-size: 13px;
  font-family: Arial, sans-serif;
  display: inline-block;
  color: #000;
  opacity: 0.75;
  float: right;
  top: 0;
  vertical-align: middle;
}

#searchbar {
  width: 520px;
  padding: 15px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
}

.submission {
  padding: 10px 10px;
  margin: 0 10px 20px 0;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  font-size: 90%;
}

#Gsearch, #Lucky {
  height: 36px;
  line-height: 27px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #5F6368;
  cursor: pointer;
  font-family: arial,sans-serif;
  font-size: 14px;
  letter-spacing: normal;
  margin: 5px 4px;
  min-width: 34px;
  text-align: center;
  white-space: pre;
  width: 120px;
}

body {
  background-color: White;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  float: left;
  padding: 10px;
  text-align: bottom;
}

a{
  text-decoration: none;
}

#logo {
  margin: 10px;
  padding-top: 10%;
  border: 10px;
  display: block;
  float: center;
}

.submission {
  font-size: 16px;
  font-family: Arial, sans-serif;
  margin: 8px;
  padding: 20px 20px;
  border: inherit;
}

.footer{
  padding-top: 12%;
  vertical-align: bottom;
}

#footer-top {
  display: block;
  float: left;
  padding: 10px 10px;
  color: #000;
  opacity: 0.5;
  font-size: 15px;
  font-family: Arial, sans-serif;
  background-color: #ededed;
  border: 1px;
  width: 100%;
  text-align: left;
  vertical-align: bottom;
}

#footer-left {
  display: inline-block;
  float: left;
  color: #000;
  opacity: 0.75;
  font-size: 13px;
  font-family: Arial, sans-serif;
  bottom: 0;
  background-color: #ededed;
  width: 50%;
  border-bottom: black 2px;
  vertical-align: bottom;
}

#footer-right {
  display: inline-block;
  float: right;
  color: #000;
  opacity: 0.75;
  bottom: 0;
  font-size: 13px;
  font-family: Arial, sans-serif;
  background-color: #ededed;
  width: 50%;
  text-align: right;
  vertical-align: bottom;
}